*{
    margin:0; 
    padding:0; 
}

body{ 
    background: grey; 
    margin:0 auto;
    padding: 0 15rem;
    color: #fff;
    padding:50px; 
}

li{ 
    list-style-type:none;
    padding:15px 50px;
        background: #464948;
}

p{
    padding-top:25px;
    text-align:center; 
    font-size:35px;
}
